.nameinput{
    width: 100%;
    padding: 10px;
    margin-top: 20px;
}
.paratag{
    margin-top: 20px;
   
}
.selectinput{
    margin-bottom: 20px;
}

.maindiv{
    display: flex;

}
.maindiv .selectinput{
    width: 94%;
}


.maindiv button{
    height: 100%;
    margin-left: 10px;
    width: 6%;
    max-height: 100%;
    padding: 7px;
    background-color: #6ac2ef;
    border: 0;
    font-size: 15px;
    position: relative;

}

.savebutton{
    position: absolute;
    bottom: 10px;
    width: 100%;
    
}
.savebutton button{
    padding: 10px;
    background-color: #6ac2ef;
    border: 0px;
    color: white;
}